<html>
    <head>
        <title>Flask Template</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <h1>State Capital Quiz</h1>
        <form method="POST" action="/results">
            <input type="text" name="New York" placeholder="New York's Capital"/>
            <input type="text" name="California" placeholder="California's Capital"/>
            <input type="text" name="Alabama" placeholder="Alabama's Capital"/>
            <input type="text" name="Utah" placeholder="Utah's Capital"/>
            <input type="text" name="Ohio" placeholder="Ohio's Capital"/>
            <input type="submit" value="Submit"/>
          </form>
    </body>
</html>